/* Keyframe for fade-in animation */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


@font-face {
    font-family: 'Cattie';
    src: url('../../assets/fonts/Cattie-Regular.ttf') format('truetype');
}

.pfp-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
    padding: 20px;
    overflow: hidden;
}


/* Profile picture*/
.pfp-picture {
    margin-right: 30px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
    animation: fadeIn 1s ease-in-out 0s forwards;
}

.pfp-picture img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    transition: opacity 0.3s ease;
}

.pfp-picture:hover img {
    background-color: white;
    opacity: 0.2;

}
/* Styling for the 'Welcome!' text */
.welcome-text {
    font-size: 2.5rem;
    font-weight: bold;
    color: #F4A460;

}

/* Underline and highlight 'zibawa' */
.highlighted-name {
    text-decoration: underline;
    color: #FF6347;
}

/* Speech bubble with delayed fade-in animation */
.pfp-text {
    position: relative;
    padding: 30px;
    border: 4px solid #f0c1a1;
    border-radius: 20px;
    color: #f0c1a1;
    font-size: 1.5rem;
    max-width: 600px;
    font-family: 'Cattie', sans-serif;
    text-align: left;
    background-color: transparent;
    box-shadow: none;
    opacity: 0;
    animation: fadeIn 1.2s ease-in-out 0.3s forwards;
    overflow: visible;

}


.pfp-text::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -25px;
    transform: translateY(-50%);
    border-width: 12px;
    border-style: solid;
    border-color: transparent #f0c1a1 transparent transparent;
    overflow: visible;

}

.cat-ear-left {
    position: absolute;
    top: -30px;
    left: -10px;
    width: 120px;
    height: 80px;
    transform: rotate(-15deg);
    animation: fadeIn 1s ease-in-out 0.6s forwards;
    overflow: visible;

}

.cat-ear-right {
    position: absolute;
    top: -45px;
    right: -20px;
    width: 120px;
    height: 80px;
    transform: rotate(15deg);
    animation: fadeIn 1s ease-in-out 0.6s forwards;
    overflow: visible;

}

.cat-tail {
    position: absolute;
    bottom: -100px;
    right: -50px;
    width: 100px;
    height: 100px;
    transform: rotate(-30deg);
    opacity: 0;
    animation: fadeIn 1s ease-in-out 0.9s forwards;
    overflow: visible;

}